.corpoTab{
    margin-top: 120px !important;

}


.imgPerfil{
    height: 200px !important;
    width: 200px !important;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.espacamento {
    box-shadow: var(--sombra);
    padding: 25px;
    border-bottom: 6px solid var(--corPrimaria);
    border-top: 6px solid var(--corPrimaria) !important;
    border-radius: 30px;
    margin-bottom: 30px;
}

.belezaParagrafo{
    border-bottom: 3px solid var(--corPrimaria) !important;
    border-radius: 30px;
    padding: 10px;
    
}


.belezaParagrafo:hover{
    transform: scale(1.04);
}

.transitionNone{
    transition: none !important;
    background-color: var(--corPrimaria);
    color: #fff;
    border: none;
}