/* Spinner.css */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--linearGradiente),
    url("../assets/img/motor.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
 
}

.gear-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinner.css 
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .7s linear infinite;
    margin: auto; 
    display: block !important;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  */
