
/*IMPORTANDO FONTES*/
@font-face {
  font-family: "minhaFonte";
  src: url("../src/assets/fonts/Advert-Regular.ttf");
}



:root{
  --corPrimaria: #0070fa;
  --corSecodaria: #044697;
  --sombra: 0 4px 8px rgba(0, 0, 0, 0.2);
  --border:  0.8px solid rgba(128,128,128,.143);
  --trasicao:all 300ms ease-in;
  --sombraA: 2px 4px 29px #ddd;;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  /*color: #0070fa;*/
}

html::-webkit-scrollbar {
  border-left: 2px solid #0070fa;
  width: 10px;
}


html::-webkit-scrollbar-thumb {
 
  background-color: #0070fa;
  
}

body{
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  
}

.links-acessos{
  transition: var(--trasicao);
}

.links-acessos:hover{
  transform: scale(1.1);
}

.titulo-secao{
  font-family:"minhaFonte",'Poppins',Arial, Helvetica, sans-serif;
  color: var(--corPrimaria);
  margin-bottom: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), /* Sombra mais escura */
                 -1px -1px 2px rgba(255, 255, 255, 0.8);
}