:root{
  --corPrimaria:#044697;
  --corSecodaria: #0070fa;
  --sombra: 0 4px 8px rgba(0, 0, 0, 0.2);
  --sombraTexto: 2px 2px 4px rgba(0, 0, 0, 0.3), /* Sombra mais escura */
  -1px -1px 2px rgba(255, 255, 255, 0.8);
  --border:  0.8px solid rgba(128,128,128,.143);
  --trasicao:all 300ms ease-in;
  --sombraA: 2px 4px 29px #ddd;
  --borderRadius: 8px !important;
  --transformA:scale(1.09);
  --transformB:scale(1.07);
  --transformC:scale(1.05);
  --corTerciaria: #fff;
  --borderRadiusPercento:50%;
  --linearGradiente: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  --linearGradienteA: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));

}

a{
  color: var(--corTerciaria);
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box !important;
  transition: var(--trasicao) !important;

  /*  border-radius: 0 !important;
*/
}

html::-webkit-scrollbar {
  border-left: 2px solid var(--corPrimaria);
  width: 10px;
}


html::-webkit-scrollbar-thumb {
 
  background-color: var(--corPrimaria);
  
}

body{
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  
}

.links-acessos{
  transition: var(--trasicao);
}

.links-acessos:hover{
  transform: scale(1.1);
}

.titulo-secao{
  font-family:'Poppins',Arial, Helvetica, sans-serif;
  color: var(--corPrimaria);
  margin-bottom: 45px;
  text-shadow: var(--sombraTexto);
}

.nnB{
  width: 300px;
  margin-top: 40px !important;
}

@media ((min-width:760px) and (max-width:778px)){
  .mmf{
    height: 40px !important;
  }
}

.minhaCor{
  color: var(--corPrimaria) !important;
 padding: 10px 15px;
}


[class="btn btn-primary"]{
  background-color: var(--corPrimaria);
}

/*
  [class="form-control"]{
  box-shadow:  !important;

}
*/

[aria-controls="basic-navbar-nav"]{
  border-radius: 0;
}
